<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - IShop Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("IShop", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gestion<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Catégorie", "Index", "Categorie")</li>
                            <li>@Html.ActionLink("Commande", "Index", "Commande")</li>
                            <li>@Html.ActionLink("Commentaire", "Index", "Commentaire")</li>
                            <li>@Html.ActionLink("Image", "Index", "Image")</li>
                            <li>@Html.ActionLink("Paiement", "Index", "Paiement")</li>
                            <li>@Html.ActionLink("Pays", "Index", "Pays")</li>
                            <li>@Html.ActionLink("Produit commande", "Index", "Produitcommande")</li>
                            <li>@Html.ActionLink("Produit société", "Index", "Produitsociete")</li>
                            <li>@Html.ActionLink("Produit", "Index", "Produit")</li>
                            <li>@Html.ActionLink("Societe", "Index", "Societe")</li>
                            <li>@Html.ActionLink("Utilisateur", "Index", "Utilisateur")</li>
                            <li>@Html.ActionLink("Ville", "Index", "Ville")</li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" placeholder="Recherche" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </form>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            <p>@Html.ActionLink("Administration", "Index", "Administration", new { Area = "Administration" }, null)</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>