@model IShop.PRODUIT_COMMANDE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PRODUIT_COMMANDE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ETAT_PRODUIT_COMMANDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ETAT_PRODUIT_COMMANDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COMMANDE.TYPE_COMMANDE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COMMANDE.TYPE_COMMANDE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUIT_SOCIETE.ETAT_PRODUIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUIT_SOCIETE.ETAT_PRODUIT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
