@model IShop.PAYS

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PAYS</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LIBELLE_PAYS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LIBELLE_PAYS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CODE_PAYS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CODE_PAYS)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_PAYS }) |
    @Html.ActionLink("Back to List", "Index")
</p>
