@model IEnumerable<IShop.PRODUIT_COMMANDE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ETAT_PRODUIT_COMMANDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.COMMANDE.TYPE_COMMANDE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRODUIT_SOCIETE.ETAT_PRODUIT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ETAT_PRODUIT_COMMANDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.COMMANDE.TYPE_COMMANDE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PRODUIT_SOCIETE.ETAT_PRODUIT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
